<table class="table table-bordered">
    <tr>
        <th>Modelo:</th>
        <th>Marca:</th> 
        <th>Cor:</th>
        <th>Placa:</th>
    </tr>
    <tr *ngFor="let carro of carrosList; let i=index">
        <td>{{carro.modelo}}</td>
        <td>{{carro.marca}}</td>
        <td>{{carro.cor}}</td>
        <td>{{carro.placa}}</td>
    </tr>
  </table>
<div class="buttons">
<button type="button" class="btn btn-success"(click)="abrirModal(abc)">Novo veículo</button>
<button type="button" class="btn btn-outline-primary" routerLink="/admin/pessoas">Voltar</button>
</div>
<ng-template #abc let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Cadastrar novo veículo</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        
        <app-carrodetails (retorno)="addList($event)"></app-carrodetails>       
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
  
  
 